<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Small Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/small-business.css" rel="stylesheet">


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img style="max-width:100px; margin-top: -7px;
                    <img src="https://s3.amazonaws.com/sites-img.wisestamp.com/img/apps/svg/app-icon-etsy-gray.svg" alt="hamlet">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                     <li>
                        <a href="posts">Home</a>
                    </li>
                    <li>
                        <a href="abouts">About</a>
                    </li>
                    <li>
                        <a href="services">Services</a>
                    </li>
                    <li>
                        <a href="contacts">Contact</a>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="http://www.mytotalretail.com/wp-content/uploads/sites/14/2015/07/e-commerce_small.png" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>Hamlet e commerce pvt. ltd</h1>
                <p>This is hamlet e commerce a creative company that knows how to make it customer feels like cheated right at middle of the nowhere</p>
                <a class="btn btn-primary btn-lg" href="https://www.etsy.com/in-en/shop/WorldofgemsByVijay?ref=hdr_shop_menu">ETSY!</a>
            </div>

        </div>


        <hr>


        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">

                   Change how the world shops and sells

                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>who we are</h2>
                <p>We provide a service that goes with market trends, consumer behavior and latest fashions. We have advanced analytics capabilities that give us insights into the future market trends. this helps our costumers to establish as a successful seller on various marketplaces..</p>
                <a class="btn btn-default" href="http://stores.ebay.com/desire4deals/">on ebay</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>we are resellere</h2>
                <p>We provide a service that goes with market trends, consumer behavior and latest fashions. We have advanced analytics capabilities that give us insights into the future market trends. this helps our costumers to establish as a successful seller on various marketplaces...</p>
                <a class="btn btn-default" href="https://www.facebook.com">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>rising up </h2>
                <p>We provide a service that goes with market trends, consumer behavior and latest fashions. We have advanced analytics capabilities that give us insights into the future market trends. this helps our costumers to establish as a successful seller on various marketplaces....</p>
                <a class="btn btn-default" href="http://www.ebay.com/usr/gem_hub?_trksid=p2047675.l2559">ebay</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

       <div>
         <div class="col-md">
          <h2> world really love our gemstones </h2>
          <> </>
<iframe width="1024" height="499"
src="https://www.youtube.com/embed/bbEoRnaOIbs/RiOaVD0lMWE?autoplay=1">
</iframe>
         </div>
         <div class="well text-center">

                   Change how the world shops and sells

                </div>
          <div class="container">

            <div class="row">
               <div class="col-md-8">
                <img class="img-responsive img-rounded" src="https://uproxx.files.wordpress.com/2016/10/lil-wayne-chocolate-droppa-bet-hip-hop-awards-2016.jpg?quality=90" alt="assets/images/hamlet.jpg">
               </div>

   <div class="col-md-4">
                <h1>we are selling on everywhere, ebay! Amazon! </h1>
                <p>we do it because we want to do it, case close, we do it because we want to do it, case close , we do it because we want to do it, case close , we do it because we want to do it, case close ,we do it because we want to do it, case close  </p>
                 <a class="btn btn-primary btn-lg" href="https://careers.ebayinc.com/join-our-team/start-your-search/">Hit_hard!</a>
            </div>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Hamlet e commerce </p>
                </div>
            </div>
        </footer>

    </div>
    <a href=""></a>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>




 <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
 <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a>

     <!-- Twitter -->
    <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>


